
rag-backend/venv/
rag-backend/__pycache__/
rag-backend/*.pyc
rag-backend/.env
rag-backend/chroma_db/
rag-backend/uploads/
rag-backend/uploaded_docs/
rag-backend/storage/
rag-backend/slides_cache/


rag-frontend/node_modules/
rag-frontend/dist/


.DS_Store
Thumbs.db
*.log